In [2]:
#importando as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#lendo o arquivo csv
titanic = pd.read_csv('titanic.csv')

In [6]:
titanic.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [40]:
#1 – Qual a probabilidade de uma pessoa sobreviver?

In [52]:
#descobrindo o total de pessoas que sobreviveram
total_sobreviventes= titanic.query('Survived == 1')['Sex'].count()
print(total_sobreviventes)

342

In [75]:
#descobrindo o total de pessoas que que não sobreviveram
total_mortos=titanic.query('Survived == 0')['Sex'].count()
print(total_mortos)

545

In [71]:
total_pessoas = total_sobrevivente + total_mortos

In [72]:
probabilidade = total_sobreviventes / total_pessoas * 100

In [73]:
print(f'a probabilidade de uma pessoa sobreviver é {probabilidade:.2f}')

a probabilidade de uma pessoa sobreviver é 38.56

In [74]:
#no Titanic tinha 887 pessoas abordo onde morreram 545 pessoas o que corresponde a 61,44%

In [ ]:
#2 – Qual a Probabilidade de uma mulher sobreviver?

In [ ]:
total=titanic.query('Survived == 1')['Sex'].count()

In [ ]:
print(total)

In [22]:
#Contagem da quantidade de mulheres
mulheres = titanic.query('Sex == "female"')['Sex'].count()

In [ ]:
#Contagem da quantidade mulheres que sobreviveram
mulheres_sobreviventes = titanic.query('Sex == "female" and Survived == 1')['Sex'].count()

In [26]:
#Calculo de probabilidade
resultado = mulheres_sobreviventes  / mulheres * 100

In [28]:
print(f'a probabilidade de uma mulher sobreviver é {resultado:.2f}')

a probabilidade de uma mulher sobreviver é 74.20

In [66]:
#3 – Qual a probabilidade de uma pessoa com mais de 45 anos sobreviver?

In [68]:
# descobrindo quantas pessoas acima de 45 tinha abordo do titanic
total_acima_45 =titanic.query('Age > 45')['Age'].count()
print(total_acima_45)

120

In [70]:
# descobrindo quantas pessoas acima de 45 tinha abordo do titanic e sobreviveram
total_acima_45_sobrevivente=titanic.query('Age > 45 and Survived == 1 ')['Age'].count()
print(total_acima_45_sobrevivente)

44

In [76]:
resultado = total_acima_45_sobrevivente / total_acima_45 * 100

In [77]:
print(f'a probalidade de uma pessoa acima de 45 anos sobreviver é de {resultado:.2f}%')

a probalidade de uma pessoa acima de 45 anos sobreviver é de 36.67%

In [ ]:
#4 – Qual a probabilidade de uma mulher ou de uma pessoa da 3ª classe sobreviver?

In [ ]:
#para esse problema 'o', precisamos somar os resultados das duas variaveis(mulher e pessoa da 3ª classe)

In [87]:
#desconbrindo o total de mulheres
total_mulheres = titanic.query('Sex == "female"')['Sex'].count()

In [79]:
#desconbrindo o total de mulheres que sobreviveram
mulheres_sobreviventes = titanic.query('Sex == "female" and Survived == 1')['Sex'].count()

In [89]:
resultado_mulheres = mulheres_sobreviventes / total_mulheres * 100

In [91]:
print(f'a probabilidade de uma mulher sobreviver é de {resultado_mulheres:.2f}%')

a probabilidade de uma mulher sobreviver é de 74.20%

In [92]:
#desconbrindo o total de pessoas da terceira classe
total_terceira_classe = titanic.query('Pclass == 3')['Pclass'].count()

In [ ]:
#desconbrindo o total de pessoas da terceira classe sobreviveram
terceira_classe_sobreviventes = titanic.query('Pclass == 3 and Survived == 1')['Pclass'].count()

In [94]:
resultado_terceira_classe = terceira_classe_sobreviventes / total_terceira_classe * 100

In [111]:
print(f'a probabilidade de uma pessoa da terceira classe sobreviver é de {resultado_terceira_classe:.2f}%')

a probabilidade de uma pessoa da terceira classe sobreviver é de 24.44%

In [98]:
#somando o resultado das variaves mulher ou terceira classe

mulher_ou_terceira_classe = resultado_mulheres + resultado_terceira_classe
print(f'a probabilidade de uma mulher ou uma pessoa da terceira classe sobreviver é de {mulher_ou_terceira_classe:.2f}%')

a probabilidade de uma mulher ou uma pessoa da terceira classe sobreviver é de 98.64%

In [ ]:
#5 – Qual a probabilidade de um homem e uma pessoa da 1ªclasse sobreviver

In [99]:
#para esse problema 'e', precisamos multiplicar os resultados das duas variaveis(homem e pessoa da 1ª classe)

In [100]:
#desconbrindo o total de homens
total_homens = titanic.query('Sex == "male"')['Sex'].count()

In [102]:
#Contagem da quantidade homens que sobreviveram
homens_sobreviventes = titanic.query('Sex == "male" and Survived == 1')['Sex'].count()

In [103]:
resultado_homens = homens_sobreviventes / total_homens * 100

In [104]:
print(f'a probabilidade de um homem sobreviver é de {resultado_homens:.2f}%')

a probabilidade de um homem sobreviver é de 19.02%

In [109]:
#desconbrindo o total de pessoas da primeira classe
total_primeira_classe = titanic.query('Pclass == 1')['Pclass'].count()

In [117]:
#desconbrindo o total de pessoas da primeira classe sobreviveram
primeira_classe_sobreviventes = titanic.query('Pclass == 1 and Survived == 1')['Pclass'].count()

In [118]:
resultado_primeira_classe = primeira_classe_sobreviventes / total_primeira_classe * 100

In [116]:
print(total_primeira_classe)

216

In [119]:
print(f'a probabilidade de uma pessoa da primeira classe sobreviver é de {resultado_primeira_classe:.2f}%')

a probabilidade de uma pessoa da primeira classe sobreviver é de 62.96%

In [114]:
#multiplicando o resultado das variaves mulher ou terceira classe

homem_e_primeira_classe = resultado_homens  * resultado_primeira_classe
print(f'a probabilidade de um homem e uma pessoa da primeira classe sobreviver é de {homem_e_primeira_classe:.2f}%')

a probabilidade de um homem e uma pessoa da primeira classe sobreviver é de 1197.72%